* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

ol {
  list-style: none;
}

/*=== ADICIONANDO O DISPLAY FLEX =================================*/
.lado {
  display: flex;
  flex-direction: column;
}

.lado2 {
  display: flex;
  flex-direction: column;
}

.projeto-flex-1 {
  display: flex;
  flex-direction: column;
}

.flex-projetos {
  display: flex;
  
}

/*=== FONTS =================================*/

body * {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
 background-color: var(--body-bg-color);

 
}

/*=== FOTO DE PERFIL =================================*/
 .picture {
  width: 128px;
  height: 128px;
  margin: auto;

  background-image: linear-gradient(90deg, #00FF00
  1%, #00FF00 100%);

  border-radius: 50%;

  display: flex;
  padding: 2px;

  transition: transform .3s;
}

/*=== PERFIL =================================*/
.profile {
  
  width: 348px;
  height: 292px;
  
  
  text-align: center;

  background-color: var(--bg-cards);

  padding-top: 32px;

  border-radius: 20px;
}

.profile div {
  padding-bottom: 30px;
}

.profile h2 {
  padding-bottom: 10px;
}

h2, h3, p, li {
  color: var(--text-color);
}

main {

  padding: 40px;
  padding-bottom: 58px;

  display: flex;
}

/*=== LINKS =================================*/
.links {
  height: 348px;
  width: 348px;
  
  background-color: var(--bg-cards);
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-top: 30px;

  border-radius: 20px;
  
}

.link {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin-top: 12.5px;

  font-size: 13px;
}

.link p {
  margin-top: 4px;
}

/*=== TECNOLOGIAS =================================*/

.Technologies {
  background-color: var(--bg-cards);
  width: 348px;
  height: 200px;

  margin-top: 30px;

  border-radius: 20px;
  
}

.Technologies h3 {
  padding-left: 20px;
  padding-top: 30px;

  font-size: 20px;
}

button {
  background-color: #CB92B1;
  width: 86px;
  height: 24px;
  border-radius: 30px;
  border: none;
  font-size: 10px;
}

.button {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 15px;

  display: flex;
  flex-flow: wrap;
}

/*=== EXPERIÊNCIAS =================================*/

.Experiences {
  background-color: var(--bg-cards);
  width: 348px;
  height: 349px;
  margin-top: 30px;

  border-radius: 20px;
  
}

.Experiences h3 {
  padding-top: 30px;
  padding-left: 20px;

  font-size: 20px;
}

.Experiences li {
  list-style: inside;
  padding-left: 40px;
  padding-top: 11px;
  
}

.Experiences p {
  padding-left: 63px;
  font-size: 13px;
}

/*=== EDUCAÇÃO =================================*/

.Education {
  background-color: var(--bg-cards);
  width: 348px;
  height: 352px;
  margin-top: 30px;

  border-radius: 20px;
}

.Education h3 {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;

  font-size: 20px;
}

.Education li {
  list-style: inside;
  padding-left: 40px;
}

.Education p {
  padding-left: 40px;
  padding-bottom: 20px;
}

/*=== MEUS PROJETOS =================================*/

.my-projects {
  background-color: var(--bg-cards);
  width: 952px;
  height: 86px;
  margin-left:  60px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 20px;
}

.my-projects h2 {
  padding-left: 30px;
  padding-top: 30px;

  font-size: 20px;
  text-decoration: none;
}


.my-projects a {
  padding-left: 670px;
  padding-right: 30px;
  padding-top: 34px;

  color: #837E9F;
  text-decoration: none;
}

/*=== PROJETO 1 =================================*/

.project-1 {
  background-color: var(--bg-cards);
  max-width: 461px;
  min-height: 186px;
  margin-left: 60px;
  border-radius: 20px;

  display: flex;
  flex-flow: wrap;
  
}
 .project-1 img {
  padding-top: 30px;
  padding-left: 30px;
 }

 .project-1 h3 {
  padding-top: 31px;
  padding-left: 16px;
 }

 .project-1 p {
  padding-left: 30px;
  padding-bottom: 20px;
 }

 /*=== PROJETO 2 =================================*/

 .project-2 {
  background-color: var(--bg-cards);
  max-width: 461px;
  min-height: 186px;
  margin-left: 30px;
  border-radius: 20px;

  display: flex;
  flex-flow: wrap;
  
}
 .project-2 img {
  padding-top: 30px;
  padding-left: 30px;
 }

 .project-2 h3 {
  padding-top: 31px;
  padding-left: 16px;
 }

 .project-2 p {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
 }

 /*=== POSTS RECENTES =================================*/

 .recent-posts {
  background-color: var(--bg-cards);
  width: 952px;
  height: 86px;
  margin-top: 30px;
  margin-left: 60px;

  border-radius: 20px;
 }

 .recent-posts h2 {
  padding-left: 30px;
  padding-top: 30px;
 }

/*=== POST 1 =================================*/

 .post {
  background-color: var(--bg-cards);
  width: 952px;
  height: 201px;
  margin-top: 30px;
  margin-left: 60px;

  border-radius: 20px;
  display: flex;
  
 }

 .post img {
  width: 128px;
  height: 128px;
  border-radius: 50%;

  display: flex;

  margin-left: 30px;
  margin-top: 31px;
 }

 .post h3 {
  padding-top: 30px;
  padding-left: 20px;
 }

 .post p {
  font-size: 14px;
  padding-left: 20px;
 }

 .description {
  font-size: 16px;
  margin-top: 28px;
 }

 .hashtags {
  margin-top: 11px;
  word-spacing: 60px;
 }

 .acess {
    margin-top: 5px;
    margin-left: 20px;
    background-color: rgb(20, 82, 10);
    

    width: 86px;
    height: 24px;

 }

 .acess a {
    text-decoration: none;
    color: white;
    font-size: 12px;
 }

/*=== animation =================================*/

 section:hover {
  transform: scale(1.1);
 }

 section {
  transition: transform 0.5s;
 }

 .lado2 {
  opacity: 0;
  animation: appear 1s forwards;
}

 @keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lado {
  opacity: 0;
  animation: two 1s forwards;
}

@keyframes two {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*=== RESPONSIVIDADE =================================*/

@media (min-width: 1500px) {
  .lado {
    margin-left: 200px;
  }
}

@media (max-width: 1024px) {
  main {
      display: flex;
      flex-direction: column;

      padding-left: 46px;
  }

.my-projects, .recent-posts, .project-1, .project-2, .recent-posts, .post {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
}

  .my-projects {
    width: 348px;
    margin-top: 30px;
  }

  .my-projects a {
    padding-left: 100px;
  }

  /* meus projetos */
  .flex-projetos {
    flex-direction: column;
  }

  .project-1 {
    margin-top: 30px;
    width: 348px;
  }

  .project-2 {
    margin-top: 30px;
    width: 348px;
  }

  .recent-posts {
    margin-top: 30px;
    width: 348px;
  }

  .post {
    margin-top: 30px;
    width: 348px;
    height: 450px;

    flex-direction: column;
  }

  .post img{
    margin-left: 110px;
  }

  .acess {
    width: 200px;
    height: 35px;
    margin-top: 15px;
    margin-left: 75px;
  }
}

