* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}


ol {
  list-style: none;
}

/* Fonts */

body * {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
 background-color: var(--body-bg-color);
}

/* foto de perfil */
 .picture {
  width: 128px;
  height: 128px;
  margin: auto;

  background-image: linear-gradient(90deg, #00FF00
  1%, #00FF00 100%);

  border-radius: 50%;

  display: flex;
  padding: 2px;

  transition: transform .3s;
}

/* perfil */
.profile {
  
  width: 348px;
  height: 292px;
  
  
  text-align: center;

  background-color: var(--bg-cards);

  padding-top: 32px;

  border-radius: 20px;
}

.profile div {
  padding-bottom: 30px;
}

.profile h2 {
  padding-bottom: 10px;
}

h2, h3, p, li {
  color: var(--text-color);
}

main {
  padding: 40px;
  padding-bottom: 58px;
}

/* links */
.links {
  min-height: 348px;
  min-width: 348px;
  max-width: 348px;
  max-height: 348px;

  background-color: var(--bg-cards);
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;

  margin-top: 30px;

  border-radius: 20px;
}

.link {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin-top: 12.5px;

  font-size: 13px;
}

.link p {
  margin-top: 4px;
}

